.chatPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 15px;
  overflow: hidden;

  .title {
    width: 100%;
    text-align: center;
    padding: 10px 0px;
    font-size: 25px;
    font-weight: bold;
    border-bottom: 1px solid;
    flex-shrink: 0;
  }

  .content {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    align-items: center;
  }

  .date {
    margin: 10px 0;
    width: 50vw;
    text-align: center;
    background: #00000055;
    color: white;
    padding: 5px;
    border-radius: 10px;
  }

  .receive,
  .send {
    display: flex;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;

    .text {
      margin: 0 10px;
      background: #ededed;
      padding: 5px;
      max-width: 50vw;
      box-sizing: border-box;
      word-break: break-all;
    }

    .time {
      margin-top: auto;
      font-size: 12px;
    }
  }

  .receive {
    .image {
      width: 40px;
      height: 40px;
      background: #d9d9d9;
      border-radius: 10px;
    }

    .text {
    }
  }

  .send {
    .text {
      min-height: 40px;
    }
    .time {
      margin-left: auto;
    }
  }
  .sendForm {
    display: flex;
    flex-direction: row;
    margin: 20px;
    width: 95vw;
  }

  input {
    border-radius: 10px;
    flex-grow: 1;
    font-size: 15px;
  }

  .sendForm button {
    cursor: pointer;
    border: 1px solid #00000033;
    margin-left: 10px;
    border-radius: 30px;
  }

  .sendBtn {
    width: 5vw;
    padding: 10px;
  }
}

@media (max-width: 500px) {
  .chatPage {
    .date {
      width: 90vw;
    }
  }
}
