.homePage {
  max-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    width: 100%;
    background: #eaeaea;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    padding: 15px 0px;
    border-bottom: 1px solid;
    flex-shrink: 0;
  }

  .chattitle {
    border-top: 1px solid;
  }

  .friendsBox {
    flex-shrink: 0;
    width: 80vw;
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px 0px;
  }

  .noFriend {
    width: 100%;
    text-align: center;
    font-size: 15px;
    padding: 10px 0px;
  }

  .friendItem,
  .talkItem {
    font-size: 12px;
    .image {
      min-width: 50px;
      height: 50px;
      border-radius: 10px;
      background: gray;
    }
  }

  .friendItem {
    padding: 10px;
    cursor: pointer;
    .name {
      text-align: center;
    }
  }

  .chatsBox {
    width: 90vw;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }

  .talkItem {
    display: flex;
    flex-wrap: nowrap;
    flex-flow: row nowrap;
    padding: 10px 0px;

    .mid {
      display: flex;
      flex-direction: column;
      padding: 0px 10px;
      margin-right: auto;
      justify-content: center;
      text-overflow: ellipsis;
      overflow: hidden;

      .name {
        font-size: 15px;
        font-weight: bold;
      }

      .text {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
    .datetime {
      display: flex;
      flex-direction: column;
      margin-top: auto;
      align-items: end;
      flex-shrink: 0;
    }
  }

  .hidden {
    display: none;
  }

  @media (max-width: 500px) {
    .friendsBox {
      width: 95vw;
    }
  }
}
