.menuPage {
  width: 300px;
  background: white;
  border-right: 1px solid;
  border-left: 1px solid;
  border-bottom: 1px solid;
  position: absolute;
  z-index: 1;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.5s linear;

  &.open {
    transform: translate(0, 0);
  }

  &.close {
    transform: translate(-300px, 0);
  }

  .exitBox,
  .logoutBox {
    text-align: right;
    padding: 10px;
  }

  .exit {
    cursor: pointer;
    padding: 10px;
    font-size: 15px;
  }

  .menuBar {
    display: flex;
    align-items: center;
    font-size: 15px;
    padding: 20px 10px;
    border-bottom: 1px solid;
  }

  .menuBar:nth-last-child(2) {
    border-bottom: none;
  }

  a {
    text-decoration: none;
    color: black;
    margin-left: 5px;
    flex-grow: 1;
  }

  .logoutBox {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

@media (max-width: 600px) {
  .menuPage {
    width: 80vw;
    &.close {
      transform: translate(-80vw, 0);
    }
  }
}

@media (max-width: 400px) {
  .menuPage {
    width: 100vw;
    &.close {
      transform: translate(-100vw, 0);
    }
  }
}
